.address {
&__title {
    margin-bottom: 35px;
}

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @include tablet {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__section {
    display: flex;
    flex: 0 0 40%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }

  &__business-hour {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  &__map {
    flex: 0 0 60%;
    align-self: stretch;
    overflow: hidden;
    border-radius: 10px;

    &-link img{
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    @include tablet {
      align-self: center;
      width: 90%;
    }

    @include mobile {
      max-height: 40vh;
    }
  }

}
