.header-user {
  // background-image: url("../img/bgrd.webp");
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-blend-mode: soft-light;
  background-color: #0f0f0fb9;


  &__top {
    background-color: #0F0F0F;

  }

  &__reference {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }



  &__contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    @include mobile {
      gap: 16px;
    }

    a {
      display: flex;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.43rem;
      white-space: nowrap;
      text-align: left;
      color: rgb(255, 255, 255);
      transition: all 0.3s ease-in-out;
      gap: 9px;

      @include mobile {
        font-size: 0.8rem;
      }


      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      @include hover {
        color: #4f8ff0;

      }
    }

    @include mobile {
      justify-content: space-between;
    }


  }


  &__phone {
    &::before {
      width: 30px;
      height: 30px;
      background-image: url("../img/tel.svg");
    }

    span {
      @include mobile {
        display: none;
      }
    }
  }

  &__wsp {
    &::before {
      background-image: url("../img/whatsapp.svg");
    }

    span {
      @include mobile {
        display: none;
      }
    }
  }



  &__wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    min-width: auto;
    font-size: 0;
    gap: 9px;

  }

  &__logo {
    margin-left: -25px;
    max-height: 68px;

  }

  &__btn {
    @include mobile {
      display: none;
    }
  }


}

.user-agreement {
  &__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 18px;
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 16px;
    }
  }
}
