.header-user {
  &__top {
    background-color: #0F0F0F;

  }

  &__reference {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }



  &__contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    @include mobile {
      gap: 16px;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.43rem;
      white-space: nowrap;
      text-align: left;
      color: rgb(255, 255, 255);
      transition: all 0.3s ease-in-out;
      gap: 9px;

      svg {
        width: 35px;
        height: 35px;

        @include small-tablet {
          width: 28px;
          height: 28px;
        }
      }


      span {
        @include mobile {
          display: none;
        }
      }

    }

    @include mobile {
      justify-content: space-between;
    }


  }



  &__icon {
    &-phone {
      animation: shake 0.01s steps(1, end) infinite;
      animation-delay: 3s;



      @keyframes shake {
        0%,
        90% {
          transform: rotate(15deg);
        }

        91%,
        100% {
          transform: rotate(0deg);
        }

      }
    }


    &-wsp {
      animation: jump 1s infinite;
      animation-delay: 3s;

      @keyframes jump {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-2px);
        }

        100% {
          transform: translateX(0);
        }

      }
    }
  }

  &__bottom {

    background-image: url("../img/bgrd.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

  }


  &__wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    min-width: auto;
    font-size: 0;
    gap: 9px;

  }

  &__logo {
    margin-left: -25px;
    max-height: 68px;

        @include mobile {
      margin: 0;
    }

  }

  &__btn {
    @include mobile {
      display: none;
    }
  }


}

.user-agreement {
  &__title {
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 36px;
    line-height: 45px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 2rem;
    font-weight: 400;
    font-size: 24px;
    line-height: 22px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 18px;
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: rgb(0, 0, 0);

    @include small-tablet {
      font-size: 16px;
    }
  }
}
