.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: transparent;

  &__cart-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url("../img/cart.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &-black {
      @include tablet {
        background-image: url("../img/cartBlack.svg");
      }

      @include small-tablet {
        background-image: url("../img/cart.svg");

      }

    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__cart-count {
    position: absolute;
    right: -5px;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    background-color: rgb(246, 167, 0);
  }

  &__top {
    background-color: #0F0F0F;
  }

  &__reference {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }



  &__contacts {
    display: flex;
    align-items: center;
    gap: 25px;

    @include mobile {
      gap: 16px;
    }

    a {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 1rem;
      line-height: 1.43rem;
      white-space: nowrap;
      text-align: left;
      color: rgb(255, 255, 255);
      transition: all 0.3s ease-in-out;
      gap: 9px;

      svg {
        width: 35px;
        height: 35px;

        @include small-tablet {
          width: 28px;
          height: 28px;
        }
      }


      span {
        @include mobile {
          display: none;
        }
      }

    }

    @include mobile {
      justify-content: space-between;
    }


  }



  &__icon {
    &-phone {
      animation: shake 0.01s steps(1, end) infinite;
      animation-delay: 3s;



      @keyframes shake {
        0%,
        90% {
          transform: rotate(15deg);
        }

        91%,
        100% {
          transform: rotate(0deg);
        }

      }
    }


    &-wsp {
      animation: jump 1s infinite;
      animation-delay: 3s;

      @keyframes jump {
        0% {
          transform: translateY(0);
        }

        50% {
          transform: translateY(-4px);
        }

        100% {
          transform: translateX(0);
        }

      }
    }
  }


  &__wrapper {
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    min-width: auto;
    font-size: 0;
    gap: 9px;

    @include mobile {
      a {
        align-self: center;
        order: 2;
      }

      button {
        justify-self: flex-start;
        order: 1;
      }

      nav {
        order: 3;

      }
    }


  }

  &__logo {
    margin-left: -25px;
    max-height: 68px;

    @include mobile {
      margin: 0;
    }

  }

  &__btn {
    @include mobile {
      display: none;
    }
  }


}
