.hero {
  height: 100vh;
  min-height: 700px;
  background-image: url("../img/hero_bgrnd.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;



  @include small-tablet {
    background-image: url("../img/hero_bgr_720.webp");
  }

  @include mobile {
    background-image: url("../img/hero_bgr_360.webp");
  }

  &__container {
    position: relative;
    height: 100%;


    @include tablet {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__wrapper {
    position: absolute;
    top: 28%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
    height: 40%;
    max-width: 550px;
    text-align: left;
    color: rgb(255, 255, 255);
    gap: 23px;

    @include tablet {
      align-items: center;
      justify-content: space-between;
      height: 68%;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 45px;
    color: transparent;
    background: linear-gradient(90deg, #9eff4e, #4eff9e, #4ef3ff, #9eff4e, );
    background-size: 200% 100%;
    background-clip: text;
    animation: shine 8s infinite;

    @keyframes shine {
      to {
        background-size: 200% 0;
      }

    }

    @include tablet {
      margin-bottom: auto;
      text-align: center;
    }

    @include mobile {
      margin-top: auto;
      font-size: 36px;

    }
  }

  &__descr {
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 28px;
    // background-color: #00000098;

    @include tablet {
      margin-bottom: 180px;
      text-align: center;

    }

    // @include small-tablet {
    //   font-size: 1.5rem;
    // }
  }

}

.arrow {
  position: absolute;
  left: 50%;
  bottom: 10%;
}

.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  right: -24px;
  top: 0;
  display: block;
  border-radius: 10px;
  width: 30px;
  height: 7px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

  @include tablet {
    background: #000;

  }

  @include small-tablet {
    background: #fff;
  }
}

.arrow::after {
  left: -24px;
  right: inherit;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated {
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s both infinite;
}


@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60px)
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60px)
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60px)
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
  }

  60% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60px)
  }
}
