<section class="address mb">
  <div class="container">
    <h2 class="address__title" data-aos="fade-right">
      Наш адрес
    </h2>
    <div class="address__content" data-aos="fade-left">
      <div class="address__section">
        <span>
          Забрать заказ или осуществить установку можно по адресу:
        </span>
        <div class="location location--black">
          <a class="location__link" href="https://yandex.ru/maps/-/CHgPbF5k" target="_blank">
            <svg class="location__img" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 48 48">
              <g fill="none" stroke-linejoin="round" stroke-width="4">
                <path stroke-linecap="round"
                  d="M9.858 32.757C6.238 33.843 4 35.343 4 37c0 3.314 8.954 6 20 6s20-2.686 20-6c0-1.657-2.239-3.157-5.858-4.243" />
                <path d="M24 35s13-8.496 13-18.318C37 9.678 31.18 4 24 4S11 9.678 11 16.682C11 26.504 24 35 24 35Z" />
                <path d="M24 22a5 5 0 1 0 0-10a5 5 0 0 0 0 10Z" />
              </g>
            </svg>
            <span class="location__address location__address--no-hidden">г. Краснодар, ул. Володи Головатова д.
              243</span>
          </a>
        </div>
        <div class="address__business-hour">
          <span>
            Часы работы:
          </span>
          <span>
            Пн.-Пт. 10:00 - 19:00
          </span>
          <span>
            Сб.-Вс. 10:00 - 18:00
          </span>
        </div>
        <article class="actually" data-aos="flip-up" data-aos-anchor-placement="top-bottom">
          <div class="actually__open" id="open">
            Сейчас открыто
          </div>
          <div class="actually__closed" id="closed">
            Сейчас закрыто
          </div>
        </article>
      </div>
      <div class="address__map" data-aos="fade-right">
        <a class="address__map-link" href="https://yandex.ru/maps/?um=constructor%3A1723659a716be44ab38a4e5c64da739285f04b3de4dd1a5add1df63f633a7b3d&amp;source=constructorStatic"
          target="_blank">
          <img
            src="https://api-maps.yandex.ru/services/constructor/1.0/static/?um=constructor%3A1723659a716be44ab38a4e5c64da739285f04b3de4dd1a5add1df63f633a7b3d&amp;width=600&amp;height=450&amp;lang=ru_RU"
            alt="" style="border: 0;" /></a>
      </div>
    </div>
  </div>
</section>
