<section class="products-aria mb">
  <div data-aos="fade-in"></div>
  <div class="container">
    <a href="index.html" class="linkReward ">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
        <path
          d="M28.781 104.122h70.438a2.111 2.111 0 0 0 2.111-2.111V52.188a2.11 2.11 0 0 0-.851-1.694L65.26 24.3a2.109 2.109 0 0 0-2.519 0L27.522 50.5a2.11 2.11 0 0 0-.851 1.694v49.822a2.111 2.111 0 0 0 2.11 2.106zM72.195 99.9H55.8V75.344h16.395zm-41.3-46.651L64 28.62l33.108 24.629V99.9H76.417V73.233a2.111 2.111 0 0 0-2.111-2.111H53.69a2.111 2.111 0 0 0-2.111 2.111V99.9H30.892z"
          fill="#F6A700" />
      </svg></a>
    <h2 class="products__title title" data-aos="fade-right">
      Усилители
    </h2>
    <ul id="amplifiers" class="products ">
      <li class="product-card" data-aos="fade-up" data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg" alt="Смартфон Galaxy X"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в
            корзину</button>
        </div>
      </li>
    </ul>
  </div>
</section>
