<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Keywords"
    content="установка акустики, настройка акустики в Краснодаре, настройка акустики в Краснодаре,профессиональная установка жк-панелй,установка подиумов,установка сабвуферов,установка колонок,твитеры,усилители,установка аудио-видео оборудования в авто,установка автозвука" />
  <meta name="Description"
    content="Установочная студия Спайдер, сайт профессиональной студии автозвука в Краснодаре, Мы специализируемся на установке, настройке и обслуживании аудиосистем любой сложности для легковых автомобилей, внедорожников и микроавтобусов. Наша команда состоит из сертифицированных специалистов с многолетним опытом работы в индустрии автозвука. Мы используем только современное профессиональное оборудование и комплектующие от ведущих мировых производителей. Работаем с автомобилями любых марок и моделей. Гарантируем качество всех работ и используем только сертифицированные комплектующие. Предоставляем гарантию на все виды услуг. Запишитесь на консультацию прямо сейчас! Поможем создать идеальную акустическую систему для вашего автомобиля." />
  <meta name="theme-color" content="#111111">
  <title>Spider Audio Site - Главная</title>
  <link href="fonts/GilroyBlack.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroyBold.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroyExtrabold.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroyLight.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroyMedium.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroyRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link href="fonts/GilroySemibold.woff2" as="font" type="font/woff2" crossorigin>
  <!-- <script defer src="https://unpkg.com/just-validate@latest/dist/just-validate.production.min.js"></script>
  <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script defer
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script> -->
  <link blocking="render" rel="stylesheet" href="css/vendor.css">
  <link blocking="render" rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
