    <section class="hero mb">
      <div class="container hero__container">
        <div class="hero__wrapper">
          <h1 class="hero__title" data-aos="fade-right">
            SpiderAudio - студия автозвука
          </h1>
          <p class="hero__descr" data-aos="fade-left">
            Мы-лучшие в вопросе подбора аудиокомпонентов для вашего авто.  Наши мастера - эксперты в своем деле, и соберут
            любой комплект под ваш запрос
          </p>
          <!-- <button class="btn hero__btn" data-aos="fade-up">Выбрать автозвук</button> -->
        </div>
      </div>
    </section>

