<section class="products-aria mb">
  <div data-aos="fade-in"></div>
  <div class="container">
    <h2 class="products__title title" data-aos="fade-right">
      Товары недели
    </h2>
    <ul id="products" class="products">
      <li class="product-card" data-aos="fade-up"  data-name="Акустика Pride Solo Mini 6,5" data-price="7990"
        data-image="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg">
        <img src="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg"
          alt="Смартфон Galaxy X" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Акустика Pride Solo Mini 6,5</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">7 990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Сабвуфер Pride S.3 10"  data-price="4340"
        data-image="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg">
        <img src="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg"
          alt="Сабвуфер Pride S.3 10" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Сабвуфер Pride S.3 10</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">4340 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Сабвуфер Pride S.4 12" data-price="5340"
        data-image="https://pridecaraudio.com/download/products/big/605.jpg">
        <img src="https://pridecaraudio.com/download/products/big/605.jpg"
          alt="Сабвуфер Pride S.4 12" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title">Сабвуфер Pride S.4 12</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">5340 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Сабвуфер Pride S.4 10" data-price="4990"
        data-image="https://pridecaraudio.com/download/products/big/604.jpg">
        <img src="https://pridecaraudio.com/download/products/big/604.jpg"
          alt="Смартфон Galaxy X" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title">Сабвуфер Pride S.4 10</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">4990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Apex A.5" data-price="8990"
        data-image="https://pridecaraudio.com/download/products/big/641.jpg">
        <img src="https://pridecaraudio.com/download/products/big/641.jpg"
          alt="Смартфон Galaxy X" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Apex A.5</h3>
          <p class="product-card__description">Компактный автомобильный усилитель D-класса для мощного звука.</p>
          <p class="product-card__price">8990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Акустика Pride Solo Mini 6,5" data-price="7990"
        data-image="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg">
        <img src="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg"
          alt="Смартфон Galaxy X" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Акустика Pride Solo Mini 6,5</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">7 990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Акустика Pride Solo Mini 6,5" data-price="7990"
        data-image="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg">
        <img src="https://magnitolkin.ru/wa-data/public/shop/products/77/46/224677/images/412192/412192.970.jpg"
          alt="Смартфон Galaxy X" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Акустика Pride Solo Mini 6,5</h3>
          <p class="product-card__description">Мощный смартфон с большим экраном и отличной камерой</p>
          <p class="product-card__price">7 990 ₽</p>
          <button aria-label="Кнопка добавить в корзину" class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>


      <li class="product-card" data-aos="fade-up"  data-name="Магнитола Aura AMH-77DSP" data-price="59990"
        data-image="https://cdn1.ozone.ru/s3/multimedia-l/6374019825.jpg">
        <img src="https://cdn1.ozone.ru/s3/multimedia-l/6374019825.jpg" alt="Магнитола Aura AMH-77DSP"
          class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title">Магнитола Aura AMH-77DSP</h3>
          <p class="product-card__description">Легкий и производительный ноутбук для работы и развлечений</p>
          <p class="product-card__price">5 990 ₽</p>
          <button class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Виброизоляция STP Bimast Super (0.75х0.53 м; 4 мм)" data-price="500"
        data-image="https://mva-group.ru/upload/iblock/42e/8pj1u522jnheysxtt4yd17s9ga573rka/e7107b8a_29a3_11eb_80ea_9457a5673364_a8490ec6_33cf_11eb_80f1_9457a5673364.jpg">
        <img src="https://mva-group.ru/upload/iblock/42e/8pj1u522jnheysxtt4yd17s9ga573rka/e7107b8a_29a3_11eb_80ea_9457a5673364_a8490ec6_33cf_11eb_80f1_9457a5673364.jpg"
          alt="Акустика Pride Solo v.3 (в комплекте OVERBOOST)" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Виброизоляция STP Bimast Super (0.75х0.53 м; 4 мм)</h3>
          <p class="product-card__description">Материал имеет герметичные свойства</p>
          <p class="product-card__price">500 ₽</p>
          <button class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Акустика Pride Solo v.3 (в комплекте OVERBOOST)" data-price="7990"
        data-image="https://avatars.mds.yandex.net/get-mpic/4011308/2a000001920f45c4990363007f04d4a669c6/orig">
        <img src="https://avatars.mds.yandex.net/get-mpic/4011308/2a000001920f45c4990363007f04d4a669c6/orig"
          alt="Акустика Pride Solo v.3 (в комплекте OVERBOOST)" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title"> Акустика Pride Solo v.3 (в комплекте OVERBOOST)</h3>
          <p class="product-card__description">Беспроводные наушники с шумоподавлением и чистым звуком</p>
          <p class="product-card__price">7 990 ₽</p>
          <button class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Парковосный радар ParkMaster" data-price="12990"
        data-image="img/product2.png">
        <img src="img/product2.png"
          alt="Парковосный радар ParkMaster" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title">Парковосный радар ParkMaster</h3>
          <p class="product-card__description">Парктроник</p>
          <p class="product-card__price">12 990 ₽</p>
          <button class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>

      <li class="product-card" data-aos="fade-up"  data-name="Охранная система StarLine S96 v.2" data-price="19990"
        data-image="img/product4.png">
        <img src="img/product4.png"
          alt="Охранная система StarLine S96 v.2" class="product-card__image">
        <div class="product-card__content">
          <h3 class="product-card__title">Охранная система StarLine S96 v.2</h3>
          <p class="product-card__description">Беспроводные наушники с шумоподавлением и чистым звуком</p>
          <p class="product-card__price">19 990 ₽</p>
          <button class="product-card__button btn btn-reset">Добавить в корзину</button>
        </div>
      </li>
    </ul>
  </div>
</section>
