<section class="service mb">
  <div class="container">
    <div class="service__wrapper mb">
      <div class="service__left" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
        <h2 class="service__title" data-aos="fade-right">
          Тюнинг ателье SpiderAudio <br><span>
            Установка автозвука
            в Краснодаре
          </span>
        </h2>
      </div>
      <div class="service__right" data-aos="fade-left">
        <p class="service__descr">
          В установочном центре выполняются работы по установке аудиосистем, охранных комплексов, парковочных радаров;
          так же в комплекс услуг входят работы по шумоизоляции, изготовлению подиумов и коробов.
        </p>
        <p class="service__descr">
          Мы поможем вам подобрать не только необходимые компоненты, но и качественно установить и настроить
          интегрированную систему.
        </p>
      </div>
    </div>
    <div class="service__bottom">
      <div class="service__pic" data-aos="zoom-out">
        <img src="img/auto.webp" alt="Изображение авто">
      </div>
      <div class="service__form-wrap" data-aos="flip-left">
        <h3 class="service__subtitle">
          Запишитесь на установку!
        </h3>
        <form id="serviceForm" action="#" class="form service__form" method="POST" enctype="multipart/form-data">
          <label class="form__label service__label">
            <input id="serviceTel" autocomplete="off" type="tel" name="Телефон"
              class="input-reset service__input service__tel service-tel form__input" placeholder="Номер телефона">
            <button id="serviceFormBtn" class="btn-reset btn form__btn">Записаться</button>
          </label>
          <label class="custom-checkbox service__label-checkbox">
            <input id="serviceCheckbox" required type="checkbox" class="custom-checkbox__field">
            <span class="custom-checkbox__content service__descr">
              Я согласен на обработку персональных данных
            </span>
          </label>
        </form>
        <p class="service__descr">Наш менеджер перезвонит вам и запишет на удобное для вас время</p>
      </div>
    </div>
  </div>
</section>
